#yadea-e3-page{
  .section-driving-position{
    background-color: #f8f2f2;
    height: 37.5vw;
    position: relative;

    .driving-position-layout{
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;

      .main-content{
        position: absolute;
        left: 21.61%;
        width: 30.46875%;
        top: 32%;
      }

      .effect-holder{
        position: absolute;
        top: 22%;
        left: 49.958%;
        width: 32.03125%;
        height: 29.42vw;

        .bike-img,
        .draw-img{
          position: absolute;

          img{
            width: 100%;
          }
        }

        .bike-img{
          width: 30vw;
          opacity: 0.5;
          z-index: 2;
          top: 0;
          left: 0;
        }

        .draw-img{
          width: 28.2vw;
          top: -12.4%;
          left: 2.4%;
        }
      }
    }
  }

  @media (max-width: 1920px){
    .section-driving-position{
      width: 1920px;
      height: 720px;
      margin-left: calc((100% - 1920px) / 2);

      .driving-position-layout{
        .main-content {
          width: 28%;
          left: 19%;
        }
      }
    }
  }

  /* === RESPONSIVE === */
  @media #{$information-tablet}{
    .section-driving-position{
      height: 174.66vw;
      background-color: #f8f2f2;
      width: 100%;
      margin-left: 0;
      z-index: 2;
      margin-bottom: 0;

      .bottom-boundary{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        svg{
          fill: #f8f2f2;
        }
      }

      .driving-position-layout{
        height: 174.66vw;
        top: 0;
        left: 0;
        width: 100%;

        .main-content{
          left: 0;
          width: 100%;
          top: 12%;
        }

        .effect-holder{
          top: auto;
          bottom: 10%;
          left: 5%;
          width: 90%;
          height: 83vw;
          z-index: 3;

          .bike-img{
            width: 100%;
          }

          .draw-img{
            width: 94%;
            top: -13%;
          }
        }
      }
    }
  }
  @media #{$information-phone}{
    .section-driving-position{
      .driving-position-layout{
        height: 160vw;

        .main-content{
          top: 7%;
        }

        .effect-holder{
          bottom: 6%;
          left: 2%;
          width: 96%;
          height: 86vw;
        }
      }
    }
  }
}