#yadea-teaser-page {
  .banner-section {
    /* === DESKTOP === */
    background-color: #060d15;


    .screen-wrapper{
      width: 1920px;
      height: 1332px;
      position: relative;
      margin-top: 50px;
      margin-left: calc((100% - 1920px) / 2);
    }

    .banner-heading {
      position: absolute;
      width: 100%;
      height: 60%;
      overflow: hidden;
      top: 0;
      left: 0;

      .bike-img-holder {
        position: absolute;
        width: 58.4%;
        left: 21.3%;
        top: 8%;

        .image-1, .image-2, .image-3{
          position: absolute;
          top: 0;

          img{
            width: 100%;
            display: block;
          }
        }

        .image-3{
          width: 166%;
          left: -33%;

          // Original State
          opacity: 1;
        }

        .image-2{
          width: 100%;
          left: 0;
          top: 3vw;

          // Original State
          opacity: 1;
        }

        .image-1{
          // Original State
          opacity: 1;
        }
      }

      .heading-title-holder {
        position: absolute;
        width: 55.5%;
        top: 56%;
        left: 22.2%;

        img {
          width: 100%;
        }
      }
    }

    .banner-welcome {
      color: #e2e2e2;
      position: absolute;
      text-align: center;
      width: 50%;
      left: 25%;
      top: 55.9%;

      .welcome-title {
        font-weight: 300;
        letter-spacing: 0.518em;
        font-size: 1.71em
      }

      .welcome-date {
        letter-spacing: 0.94em;
        font-size: 1.9em;
        margin-top: 0.35em;
        font-weight: 700;
        padding-left: 0.2em;
      }
    }

    .apply-information-form {
      position: absolute;
      width: 20%;
      left: 40%;
      height: 7.4%;
      bottom: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .apply-info-modal {
        background-color: $main-color;
        color: $white;
        height: 34px;
        line-height: 34px;
        font-weight: 600;
        display: inline-block;
        border-radius: 17px;
        padding: 0 17px;
        cursor: pointer;

        .fa {
          font-size: 1.3em;
          position: relative;
          top: 0.08em;

          -webkit-animation: arrowHorizontalEffect infinite 800ms;
          animation: arrowHorizontalEffect infinite 800ms;
        }
      }

      .more-detail {
        color: $white;
        font-size: 1.05em;
        font-style: italic;
      }
    }

    .arrow-effect {
      position: absolute;
      bottom: 20px;
      width: 25px;
      height: 15px;
      left: calc(50% - 12.5px);
      cursor: pointer;

      img {
        width: 25px;
        position: absolute;
        top: 0;
        left: 0;

        &:first-child {
          -webkit-animation: downArrowEffect 1500ms 0ms infinite ease;
          animation: downArrowEffect 1500ms 0ms infinite ease;
        }

        &:nth-child(2) {
          -webkit-animation: downArrowEffect 1500ms 0ms infinite ease;
          animation: downArrowEffect 1500ms 500ms infinite ease;
        }

        &:nth-child(3) {
          -webkit-animation: downArrowEffect 1500ms 0ms infinite ease;
          animation: downArrowEffect 1500ms 1000ms infinite ease;
        }
      }
    }

    // Casual Laptop 1368px to 1280px
    @media #{$information-laptop} {}

    // Casual Laptop 1280px and bellow
    @media #{$information-sm-laptop} {}
    /* === DESKTOP - END === */


    /* === RESPONSIVE === */
    // Tablet 768px to 480px
    @media #{$information-tablet} {
      .screen-wrapper{
        width: 100%;
        height: 230vw;
        margin-top: 50px;
        margin-left: 0;
      }

      .banner-heading {
        width: 100%;
        height: 100vw;
        top: 8vw;
        left: 0;

        .bike-img-holder {
          width: 140%;
          left: -17%;
          top: 5%;

          img {
            width: 100%;
          }

          .image-3{
            width: 160%;
            left: -32%;
            top: 3vw;

            // Original State
            opacity: 1;
          }

          .image-2{
            width: 100%;
            left: -2.25%;
            top: 3.5vw;

            // Original State
            opacity: 1;
          }

          .image-1{
            // Original State
            opacity: 1;
          }
        }

        .heading-title-holder {
          width: 80%;
          top: 49%;
          left: 10%;

          img {
            width: 100%;
          }
        }
      }

      .banner-welcome {
        width: 100%;
        left: 0;
        top: 44%;

        .welcome-title {
          font-size: 2.2em
        }

        .welcome-date {
          font-size: 2.5em;
          margin-top: 0.5em;
          padding-left: 0.15em;
        }
      }

      .apply-information-form {
        width: 100%;
        left: 0;
        height: 113.5vw;
        bottom: 0;
        padding-bottom: 30px;

        .apply-info-modal {
          height: 38px;
          line-height: 38px;
          border-radius: 19px;
          font-size: 1.2em;
          padding: 0 17px;

          .fa {
            font-size: 1.25em;
            top: 0.05em;
          }
        }

        .more-detail {
          color: $white;
          font-size: 1.5em;
        }
      }

      .arrow-effect {
        display: none;
      }
    }

    // Special Milestones
    @media (max-width: 660px){

      .screen-wrapper{
        height: 240vw;
        margin-top: 50px;
      }

      .banner-heading {
        width: 100%;
        height: 100vw;
        top: 0;
        left: 0;

        .bike-img-holder {
          width: 144%;
          left: -18%;
          top: 5%;
        }

        .heading-title-holder {
          width: 82%;
          top: 48%;
          left: 10%;
        }
      }

      .banner-welcome {
        width: 100%;
        left: 0;
        top: 42%;

        .welcome-title {
          font-size: 2.1em
        }

        .welcome-date {
          font-size: 2.4em;
          margin-top: 0.5em;
          padding-left: 0.15em;
        }
      }

      .apply-information-form {
        height: 120vw;
        padding-bottom: 30px;

        .apply-info-modal {
          height: 38px;
          line-height: 38px;
          border-radius: 19px;
          font-size: 1.2em;
          padding: 0 17px;

          .fa {
            font-size: 1.25em;
            top: 0.05em;
          }
        }

        .more-detail {
          font-size: 1.5em;
        }
      }
    }

    @media (max-width: 540px){
      .screen-wrapper{
        height: 250vw;
      }

      .banner-heading {
        width: 100%;
        height: 100vw;

        .bike-img-holder {
          width: 144%;
          left: -18%;
          top: 5%;
        }

        .heading-title-holder {
          width: 86%;
          top: 48%;
          left: 7%;
        }
      }

      .banner-welcome {
        top: 38%;

        .welcome-title {
          font-size: 1.8em
        }

        .welcome-date {
          font-size: 2.1em;
          margin-top: 0.45em;
          padding-left: 0.15em;
        }
      }

      .apply-information-form {
        height: 137vw;
        padding-bottom: 25px;

        .apply-info-modal {
          height: 38px;
          line-height: 38px;
          border-radius: 19px;
          font-size: 1.2em;
          padding: 0 17px;

          .fa {
            font-size: 1.25em;
            top: 0.05em;
          }
        }

        .more-detail {
          font-size: 1.4em;
        }
      }
    }

    // Phone Screen From 480px to 360px
    @media #{$information-phone} {
      .screen-wrapper{
        height: 300vw;
      }

      .banner-heading {
        width: 100%;
        height: 130vw;

        .bike-img-holder {
          width: 157%;
          left: -25%;
          top: 5%;
        }

        .heading-title-holder {
          width: 88%;
          top: 42%;
          left: 6%;
        }
      }

      .banner-welcome {
        top: 34%;

        .welcome-title {
          font-size: 1.45em;
          white-space: nowrap;
          letter-spacing: 0.4em;
        }

        .welcome-date {
          font-size: 1.7em;
          letter-spacing: 0.7em;
          margin-top: 0.45em;
          padding-left: 0.1em;
        }
      }

      .apply-information-form {
        height: 178vw;
        padding-bottom: 15px;

        .apply-info-modal {
          height: 32px;
          line-height: 33px;
          border-radius: 17px;
          font-size: 1em;
          padding: 0 17px;

          .fa {
            font-size: 1.2em;
            top: 0.05em;
          }
        }

        .more-detail {
          font-size: 1.25em;
        }
      }
    }

    // Phone Screen Below 360px
    @media #{$information-sm-phone} {
      .banner-heading {
        width: 100%;
        height: 130vw;

        .bike-img-holder {
          width: 157%;
          left: -25%;
          top: 5%;
        }

        .heading-title-holder {
          width: 92%;
          top: 41.5%;
          left: 4%;
        }
      }

      .banner-welcome {
        top: 33.5%;

        .welcome-title {
          font-size: 1.25em;
          letter-spacing: 0.4em;
        }

        .welcome-date {
          font-size: 1.5em;
          letter-spacing: 0.6em;
          margin-top: 0.4em;
        }
      }

      .apply-information-form {
        height: 178vw;
        padding-bottom: 13px;

        .apply-info-modal {
          height: 30px;
          line-height: 31px;
          border-radius: 15px;
          font-size: 0.95em;
          padding: 0 17px;

          .fa {
            font-size: 1.15em;
            top: 0.02em;
        }
        }

        .more-detail {
          font-size: 1.25em;
        }
      }
    }
    /* === RESPONSIVE - END === */
  }
}

@keyframes arrowHorizontalEffect {
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25%{
    -webkit-transform: translateX(0);
    transform: translateX(-1px);
  }
  50%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75%{
    -webkit-transform: translateX(0);
    transform: translateX(1px);
  }
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes arrowHorizontalEffect {
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25%{
    -webkit-transform: translateX(0);
    transform: translateX(-1px);
  }
  50%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75%{
    -webkit-transform: translateX(0);
    transform: translateX(1px);
  }
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}