#yadea-teaser-page{
  /* === DESKTOP === */
  .section-follow-event{
    width: 100%;
    position: relative;
    min-width: 1920px;

    .bg-holder{
      width: 100%;

      img{
        display: block;
        width : 100%;
      }
    }

    .main-content {
      position: absolute;
      color: #e2e2e2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title{
        font-size: 1.6667em;
        letter-spacing: 0.08em;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 40px;
      }

      .cta-holder{
        height: 32px;
        line-height: 30px;
        border: 1px solid #E2E2E2;
        border-radius: 16px;
        font-size: 0.95em;
        padding: 0 15px 0 22px;
        cursor: pointer;
        transition: all ease-in 150ms;

        &:hover{
          background-color: $main-color;
          transition: all ease-out 220ms;
          border: 1px solid $main-color;
        }
      }
    }
  }

  @media (max-width: 1920px){
    .section-follow-event {
      margin-left: calc((100% - 1920px) / 2);
    }
  }

  // Casual Laptop 1368px to 1280px
  @media #{$information-laptop} {}

  // Casual Laptop 1280px and bellow
  @media #{$information-sm-laptop} {}
  /* === DESKTOP - END === */


  /* === RESPONSIVE === */
  // Tablet 768px to 480px
  @media #{$information-tablet} {
    .section-follow-event{
      width: 100%;
      margin-left: 0;
      min-width: 0;

      .main-content {
        .title{
          font-size: 2.5em;
          line-height: 1.3em;
          letter-spacing: 0.08em;
          font-weight: 500;
          margin-bottom: 35px;
        }

        .cta-holder{
          height: 34px;
          line-height: 32px;
          border: 1px solid #E2E2E2;
          border-radius: 16px;
          font-size: 1.25em;
          padding: 0 15px 0 22px;
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 540px) {
    .section-follow-event{
      .main-content {
        .title{
          font-size: 2em;
          line-height: 1.3em;
          letter-spacing: 0.06em;
          margin-bottom: 25px;
        }
      }
    }
  }

  // Phone Screen From 480px to 360px
  @media #{$information-phone} {
    .section-follow-event{
      .main-content {
        .title{
          font-size: 1.6em;
          line-height: 1.25em;
          letter-spacing: 0.08em;
          margin-bottom: 15px;
        }

        .cta-holder{
          height: 30px;
          line-height: 30px;
          border: 1px solid #E2E2E2;
          border-radius: 16px;
          font-size: 1em;
          padding: 0 13px 0 20px;
        }
      }
    }
  }

  // Phone Screen Below 360px
  @media #{$information-sm-phone} {
    .section-follow-event{
      .main-content {
        .title{
          font-size: 1.3em;
          letter-spacing: 0.05em;
          margin-bottom: 10px;
        }

        .cta-holder{
          height: 28px;
          line-height: 28px;
          border-radius: 14px;
          font-size: 0.95em;
          padding: 0 12px 0 17px;
        }
      }
    }
  }
  /* === RESPONSIVE - END === */
}