#yadea-ulike-page{
  .section-distance{
    padding: 60px 0 180px;
    background-color: #b4ddff;

    .heading-img{
      margin-bottom: 30px;
      height: 280px;
      position: relative;

      .img-holder{
        position: absolute;
        width: 53.367%;
        left: 23.3665%;
        z-index: 2;
      }

      .waving-effect{
        width: 140%;
        left: -20%;
        height: 60%;
        position: absolute;
        top: 30%;

        .wave-effect-item{
          position: absolute;
          width: 40%;
          height: 45%;
          top: 30%;
          border: 3px solid rgba(#FFF, 0.75);
          left: 30%;
          border-radius: 50%;
          opacity: 0;

          &.item-1{
            animation: wavingEffectLarge 5s infinite linear;
          }

          &.item-2{
            animation: wavingEffectLarge 5s 1s infinite linear;
          }

          &.item-3{
            animation: wavingEffectLarge 5s 2s infinite linear;
          }

          &.item-4{
            animation: wavingEffectLarge 5s 3s infinite linear;
          }

          &.item-5{
            animation: wavingEffectLarge 5s 4s infinite linear;
          }
        }
      }
    }

    .context-layout{
      display: flex;
      align-items: center;

      .main-content{
        width: 45.33%;
        flex-basis: 45.33%;
        padding-right: 20px;

        .desc{
          letter-spacing: 0.12em;
        }
      }

      .context-thumbnail{
        width: 54.66%;
        flex-basis: 54.66%;

        .img-holder{
          img{
            width: 100%;
          }
        }
      }
    }
  }

  /* === RESPONSIVE === */
  @media #{$information-tablet}{
    .section-distance{
      padding: 80px 0 40px;

      .heading-img{
        margin-bottom: 40px;
        height: 25vw;

        .img-holder{
          width: 70%;
          left: 15%;

          img{
            width: 100%;
          }
        }

        .waving-effect{
          width: 180%;
          left: -40%;
          height: 80%;
          top: 26%;
        }
      }

      .context-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 20px;

        .main-content{
          width: 100%;
          flex-basis: auto;
          padding: 0;

          .desc{
            letter-spacing: 0.06em;
          }
        }

        .context-thumbnail{
          margin-top: 30px;
          width: 100%;
          flex-basis: auto;

          .img-holder{
            img{
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media #{$information-phone}{
    .section-distance{
      padding: 30px 0 30px;

      .heading-img{
        margin-bottom: 30px;
        height: 25vw;

        .img-holder{
          width: 80%;
          left: 10%;
        }

        .waving-effect{
          width: 220%;
          left: -60%;
          height: 100%;
          top: 26%;
        }
      }

      .context-layout{
        padding: 0 10px;

        .main-content{
          padding: 0;

          .desc{
            letter-spacing: 0.06em;
          }
        }

        .context-thumbnail{
          margin-top: 20px;
        }
      }
    }
  }

  @media #{$information-sm-phone}{
    .section-distance{
      padding: 30px 0 20px;

      .context-layout{
        padding: 0;

        .main-content{
          padding: 0;

          .desc{
            letter-spacing: 0.06em;
          }
        }

        .context-thumbnail{
          margin-top: 20px;
        }
      }
    }
  }
}