#yadea-e3-page {
  .section-anti-thief {
    position: relative;
    height: 56.25vw;
    overflow: hidden;

    .main-content{
      position: absolute;
      width: 26%;
      top: 4.6875%;
      left: 51.04%;
    }

    .effect-holder{
      position: absolute;
      width: 46.09375%;
      left: 19.27%;
      top: 2%;
      height: 92.69%;

      .bike-img{
        width: 100%;
        position: relative;

        img{
          width: 100%;
        }

        .main-bike, .bike-shadow{
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
        }

        .main-bike{
          z-index: 2;
        }

        .bike-shadow{
          &.shadow-1{
            top: 0;
            left: -4%;
            z-index: 1;
          }

          &.shadow-2{
            top: 0;
            left: 0;
            z-index: 0;
          }
        }
      }

      .ring-img, .light-img, .sound-img{
        position: absolute;
        z-index: 4;

        img{
          width: 100%;
        }
      }

      .ring-img{
        width: 6.4%;
        top: 32%;
        left: 24%;

        img{
          &.wave{
            position: absolute;
            top: 10%;
            left: 0;
            width: 100%;
          }
        }
      }

      .light-img{
        width: 28%;
        top: 36%;
        left: 58%;
      }

      .sound-img{
        &.sound-1{
          width: 6.4%;
          top: 25%;
          left: 7%;
        }

        &.sound-2{
          width: 10.4%;
          top: 24%;
          left: 35%;
        }
      }
    }
  }

  @media (max-width: 1920px){
    .section-anti-thief {
      width: 1920px;
      height: 1060px;
      margin-left: calc((100% - 1920px) / 2);
    }
  }

  /* === RESPONSIVE === */
  @media #{$information-tablet}{
    .section-anti-thief {
      width: 100%;
      margin: 0;
      height: 210vw;

      .main-content{
        width: 100%;
        top: 8%;
        left: 0;
      }

      .effect-holder{
        width: 120%;
        left: -4%;
        top: 38%;
        height: 67.69%;
      }
    }
  }

  @media #{$information-phone}{
    .section-anti-thief {
      width: 100%;
      margin: 0;
      height: 170vw;

      .main-content{
        width: 100%;
        top: 7%;
        left: 0;
      }

      .effect-holder{
        width: 100%;
        left: 5%;
        top: 32%;
        height: 67.69%;
      }
    }
  }
}