#yadea-e3-page{
  background-color: #f8f2f2;

  .section-easy-control{
    background: #f5a884;
    position: relative;
    height: 50vw;
    z-index: 2;

    .main-content{
      color: $white;
      position: absolute;
      width: 33.333%;
      text-align: center;
      left: 33.333%;
      top: 1.6%;
    }

    .effect-holder{
      position: absolute;
      width: 98%;
      top: -9.687%;
      z-index: 2;
      height: 91.5%;
      left: 1%;

      .img-holder{
        position: absolute;
        width: 100%;
        bottom: 0;

        img{
          width: 100%;
        }
      }
    }

    .description-holder{
      position: absolute;
      width: 98%;
      top: -9.687%;
      z-index: 3;
      height: 91.5%;
      left: 1%;

      .desctiption-item{
        position: absolute;
        padding-top: 46px;

        .name{
          margin: 0 0 10px;
          background-color: white;
          display: inline-block;
          min-width: 110px;
          text-align: center;
          height: 36px;
          line-height: 38px;
          border-radius: 18px;
          position: absolute;
          top: 0;
          z-index: 2;
          cursor: pointer;

          .label{
            position: relative;
            z-index: 1;
          }

          .shadow-effect{
            position: absolute;
            width: 110%;
            height: 130%;
            background-color: rgba(255,255,255, 0.5);
            top: -15%;
            left: -5%;
            box-shadow: none;
            border-radius: 22px;
            animation: wavingEffect 1.8s infinite linear;
          }
        }

        .desc{
          color: $white;
          font-size: 0.72em;
          line-height: 1.25em;

          // Original State
          visibility: hidden;
          opacity: 0;
          transform: translateY(8px);
          transition: all ease-in 170ms;
        }

        .line{
          position: absolute;
          border-color: $white;
        }

        &.item-1{
          top: 63%;
          left: 17%;
          width: 10%;

          .name{
            left: 5%;
          }

          .line{
            bottom: calc(100% - 18px);
            left: 50%;
            width: 100%;
            height: 50%;
            border-right: 3px solid $white;
            border-bottom: 3px solid $white;
          }
        }

        &.item-2{
          top: 60%;
          left: 68%;
          width: 12%;

          .line{
            bottom: calc(100% - 18px);
            right: 50%;
            width: 58%;
            height: 30%;
            border-bottom: 3px solid $white;
            border-left: 3px solid $white;
          }

          .name{
            left: 25%;
          }
        }

        // Hover Effect
        .name{
          &:hover{
            & + .desc{
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
              transition: all ease-out 350ms;
            }
          }
        }
      }
    }

    .background-holder{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      .boundary-top, .boundary-bottom{
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;

        img{
          width: 100%;
          display: block;
        }
      }

      .boundary-top{
        bottom: 100%;

        svg{
          polygon{
            fill: #f5a884;
          }
        }
      }

      .boundary-bottom{
        bottom: 0;

        svg{
          polygon{
            fill: #f8f2f2;
          }
        }
      }
    }
  }

  @media (max-width: 1920px){
    .section-easy-control{
      width: 1920px;
      margin-left: calc((100% - 1920px) / 2);
      height: 960px;
    }
  }

  /* == RESPONSIVE === */
  @media #{$information-tablet}{
    .section-easy-control{
      width: 100%;
      margin-left: 0;
      height: 161.33vw;
      overflow: hidden;

      .main-content{
        width: 100%;
        left: 0;
        top: 7%;
        color: #2c2c2c;
      }

      .effect-holder{
        width: 180vw;
        height: 100%;
        top: auto;
        left: 10vw;
        bottom: 0;
        position: relative;

        .img-holder{
          position: absolute;
          bottom: 0;
        }
      }

      .arrow-control-holder{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        z-index: 3;

        .control-button{
          position: absolute;
          width: 8vw;
          height: 8vw;
          top: calc( 50% - 4vw );

          img{
            width: 100%;
          }

          &.to-control-left{
            left: 2vw;

            //Original State
            opacity: 0;
            transition: all ease-in 170ms;
          }

          &.to-control-right{
            right: 2vw;

            //Original State
            opacity: 0;
            transition: all ease-out 170ms;
          }
        }

        &.stage-left{
          .control-button{
            &.to-control-right{
              opacity: 1;
              visibility: visible;
              transition: all ease-out 300ms;
            }
          }
        }

        &.stage-right{
          .control-button{
            &.to-control-left{
              opacity: 1;
              visibility: visible;
              transition: all ease-out 300ms;
            }
          }
        }
      }

      .description-holder{
        position: absolute;
        width: 180vw;
        height: 100%;
        top: 0;
        left: 10vw;

        .desctiption-item{

          .name{
            font-size: 1.5em;
          }

          .desc{
            font-size: 1.3em;
            line-height: 1.25em;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            transition: none;
          }

          &.item-1{
            top: 79%;
            left: 11%;
            width: 27vw;

            .name{
              left: 5%;
            }

            .line{
              width: 73%;
              height: 58%;
            }
          }

          &.item-2{
            top: 76%;
            left: 72.3%;
            width: 41vw;

            .line{
              bottom: calc(100% - 18px);
              right: 50%;
              width: 58%;
              height: 30%;
              border-bottom: 3px solid $white;
              border-left: 3px solid $white;
            }

            .name{
              left: 25%;
            }
          }

          // Hover Effect
          .name{
            &:hover{
              & + .desc{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: all ease-out 350ms;
              }
            }
          }
        }
      }
    }
  }

  @media #{$information-phone}{
    .section-easy-control{
      .arrow-control-holder{

        .control-button{
          width: 13vw;
          height: 13vw;
          top: calc( 50% - 6.5vw );

          &.to-control-left{
            left: 2.5vw;
          }

          &.to-control-right{
            right: 2vw;
          }
        }
      }

      .description-holder{
        .desctiption-item{
          padding-top: 40px;

          .name{
            font-size: 1.15em;
            height: 32px;
            line-height: 33px;
            border-radius: 16px;
            margin-bottom: 3px;
            min-width: 92px;
          }

          .desc{
            font-size: 0.9em;
            line-height: 1.25em;
          }

          &.item-1{
            top: 78%;
            left: 2%;
            width: 40vw;

            .name{
              left: 5%;
            }

            .line{
              width: 73%;
              height: 13vw;
            }
          }

          &.item-2{
            top: 76%;
            left: 72.3%;
            width: 60vw;

            .line{
              bottom: calc(100% - 18px);
              right: 50%;
              width: 58%;
              height: 10vw;
              border-bottom: 3px solid $white;
              border-left: 3px solid $white;
            }

            .name{
              left: 25%;
            }
          }

          // Hover Effect
          .name{
            &:hover{
              & + .desc{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: all ease-out 350ms;
              }
            }
          }
        }
      }
    }
  }
}