#yadea-e3-page{
  .section-light{
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: -11.3vw;

    .main-content{
      color: #FFF !important;
      position: absolute;
      top: 46.211%;
      left: 52.08%;
      width: 26.3%;
      z-index: 2;
    }

    .effect-holder{
      position: relative;

      img{
        display: block;
        width: 100%;
      }

      .light-effect{
        position: absolute;
        width: 37%;
        top: 19.7%;
        left: 17%;
      }
    }
  }

  @media (max-width: 1920px){
    .section-light{
      width: 1920px;
      height: 940px;
      margin-top: -220px;
      margin-left: calc((100% - 1920px) / 2);
    }
  }

  /* === RESPONSIVE === */
  @media #{$information-tablet}{
    .section-light{
      width: 100%;
      margin-left: 0;
      height: 160vw;
      margin-top: 0;

      .main-content{
        top: 10%;
        left: 0;
        width: 100%;
      }

      .effect-holder {
        .light-effect {
          width: 114%;
          top: 40%;
          left: -5%;
        }
      }
    }
  }

  @media #{$information-phone}{
    .section-light{
      .main-content{
        top: 7%;
      }
    }
  }
}