#yadea-ulike-page{
  .section-banner{
    position: relative;
    background-color: #AAA;

    .mold{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.5;

      // Desktop Is Done
      display: none;

      img{
        display: block;
        width: 100%;
      }
    }

    // Background
    .banner-bg{
      width: 100%;

      img{
        width: 100%;
        display: block;
      }
    }

    // Bike Name Effect
    .bike-name-holder{
      position: absolute;
      width: 28%;
      height: 35%;
      top: 33.5%;
      left: 23%;

      .bike-name, .bike-slogan{
        left: 0;
        right: 0;
        position: absolute;

        img{
          display: block;
          margin: auto;
          height: 100%;
        }
      }

      .bike-name{
        height: 64%;
        top: 0;
      }

      .bike-slogan{
        top: 55%;
        left: -3%;
        height: 33%;
      }
    }

    // Bike Image
    .bike-img{
      position: absolute;
      width: 24%;
      top: 21%;
      left: 54%;

      img{
        width: 100%;
      }
    }

    // Bike Feature
    .banner-feature{
      position: absolute;
      width: 640px;
      height: 100px;
      bottom: 6.75%;
      left: calc(38% - 320px);

      .feature-list{
        display: grid;
        grid-template-columns: 23.5% 38.5% 38%;
        width: 100%;

        .feature-item{
          text-align: center;
          color: $white;
          padding: 0 20px;
          flex: 1;
          box-sizing: border-box;
          position: relative;

          .icon-holder{
            margin-bottom: 6px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
              max-height: 40px;
            }
          }

          &:nth-child(2){
            &:before, &:after{
              content: '';
              width: 1px;
              height: 46px;
              position: absolute;
              display: block;
              background-color: $white;
              top: calc(50% - 13px);
            }

            &:before{
              left: 0;
            }

            &:after{
              right: 0;
            }
          }
        }
      }
    }
  }


  /* ==== RESPONSIVE ==== */
  @media #{$information-tablet}{
    .section-banner{

      // Background
      .banner-bg{
        width: 100%;

        img{
          width: 100%;
          display: block;
        }
      }

      // Bike Name Effect
      .bike-name-holder{
        width: 77%;
        height: 35%;
        top: 6.5%;
        left: 12%;

        .bike-name{
          height: 82%;
          left: 3%;
          top: -2.5%;
        }

        .bike-slogan{
          top: 39%;
          left: -11%;
          height: 58%;
        }
      }

      // Bike Image
      .bike-img{
        width: 66%;
        top: 37%;
        left: 16%;

        img{
          width: 100%;
        }
      }

      // Bike Feature
      .banner-feature{
        width: 100%;
        height: 100px;
        bottom: 6.75%;
        padding: 0 8%;
        left: 0;

        .feature-list{
          grid-template-columns: 28% 34% 38%;
          width: 100%;

          .feature-item{
            padding: 0 20px;
            flex: 1;

            .icon-holder{
              margin-bottom: 10px;
              height: 44px;

              img{
                max-height: 44px;
              }
            }

            .desc{
              font-size: 16px;
              line-height: 22px;
            }

            &:nth-child(2){
              &:before, &:after{
                width: 1px;
                height: 40px;
                top: calc(50% - 7px);
              }

              &:before{
                left: 0;
              }

              &:after{
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  @media #{$information-phone}{
    .section-banner{
      // Bike Feature
      .banner-feature{
        width: 100%;
        height: 90px;
        bottom: 2%;
        padding: 0;
        left: 0;

        .feature-list{
          grid-template-columns: 28% 34% 38%;
          width: 100%;

          .feature-item{
            padding: 0 20px;
            flex: 1;

            .icon-holder{
              margin-bottom: 10px;
              height: 34px;

              img{
                max-height: 34px;
              }
            }

            .desc{
              font-size: 12px;
              line-height: 17px;

              br{
                display: none;
              }
            }

            &:nth-child(2){
              &:before, &:after{
                width: 1px;
                height: 40px;
                top: calc(50% - 7px);
              }

              &:before{
                left: 0;
              }

              &:after{
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}