.footer{
  &__body{

    &__col-title{
      font-size: 18px;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 20px;
    }

    &__links{
      padding: 0;

      &__item{
        list-style: none;
        font-size: 16px;
        line-height: 28px;
        color: $text-color;
        font-weight: 400; //regular

        a,span {
          opacity: 0.6;
        }

        a{
          cursor: pointer;
          transition: all ease-out 150ms 20ms;

          &:hover{
            opacity: 1;
          }
        }
      }

      &__social{
        margin-right: 10px;
        opacity: 0.6;
        transition: all ease-out 150ms 20ms;
        cursor: pointer;

        &:hover{
          opacity: 1;
        }
      }
    }
  }

  &__bottom{
    border-top: 1px solid #dfdfdf;

    &__copyright{
      margin: 0;
      padding: 33px 0 30px;
      color: $text-color;
      opacity: 0.6;
      font-size: 16px;
      font-weight: 400; // regular
    }
  }
}