#yadea-ulike-page{
  .section-features{
    padding: 160px 0 40px;
    background-color: #e4edf5;

    .main-content{
      text-align: center;
      margin-bottom: 30px;
    }

    .feature-list{
      display: flex;
      justify-content: space-between;
      width: 1060px;
      margin: auto;

      .feature-item{
        height: 570px;
        overflow: hidden;
        border-radius: 30px;
        width: 32%;
        position: relative;

        .img-holder{
          position: absolute;
          width: 100%;
          height: calc(100% - 175px);
          top: 0;
          left: 0;
          background-color: #AAA;
          background-size: cover;
          background-position: center;
          transform: scale(1);
          transition: all ease-in 200ms;
          cursor: pointer;
        }

        .feature-context{
          position: absolute;
          background-color: #a6dcfd;
          text-align: center;
          bottom: 0;
          z-index: 2;
          height: 175px;
          left: 0;
          padding: 0 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .name{
            font-weight: 700;
            margin: 0;
          }

          .desc{
            font-size: 1em;
            line-height: 1.25em;
          }
        }

        &:hover{
          .img-holder{
            transform: scale(1.1);
            transition: all cubic-bezier(.4,.84,.44,.98) 600ms;
          }
        }
      }
    }
  }

  @media (max-width: 1920px){
    .section-features{
      width: 1920px;
      margin-left: calc((100% - 1920px) / 2);
    }
  }

  @media #{$information-laptop}{
    .section-features{
      padding: 140px 0 50px;
    }
  }

  @media #{$information-sm-laptop}{
    .section-features{
      padding: 120px 0 50px;
    }
  }

  /* === RESPONSIVE === */
  @media #{$information-tablet}{
    .section-features{
      width: 100%;
      margin: 0;

      .main-content{
        text-align: center;
        margin-bottom: 30px;
      }

      .feature-list{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;

        .feature-item{
          width: 57.33vw;
          border-radius: 30px;
          height: 81.33vw;
          margin-bottom: 45px;

          .img-holder{
            position: absolute;
            width: 100%;
            height: calc(100% - 30vw);
          }

          .feature-context{
            height: 30vw;
            padding: 0 15px;

            .name{
              font-weight: 700;
              margin: 0;
              font-size: 1.5em;
            }

            .desc{
              font-size: 1.5em;
              line-height: 1.25em;
            }
          }

          &:hover{
            .img-holder{
              transform: scale(1.1);
              transition: all cubic-bezier(.4,.84,.44,.98) 600ms;
            }
          }
        }
      }
    }
  }

  @media #{$information-phone}{
    .section-features{
      padding: 40px 0 30px;

      .main-content{
        margin-bottom: 20px;
      }

      .feature-list{
        .feature-item{
          width: 70vw;
          border-radius: 30px;
          height: 100vw;
          margin-bottom: 25px;

          .img-holder{
            height: calc(100% - 38vw);
          }

          .feature-context{
            height: 38vw;
            padding: 10px 15px;

            .name{
              font-weight: 700;
              margin: 0;
              font-size: 1em;
            }

            .desc{
              font-size: 0.9em;
              line-height: 1.25em;
            }
          }
        }
      }
    }
  }
}