#yadea-ulike-page{
  .section-images-library{
    .image-slider-viewport{
      width: 100vw;
      height: 40vw;
      background-color: #CCC;
      margin: auto;
      position: relative;

      .slider-track-holder{
        position: absolute;
        width: 300%;
        height: 100%;
        animation: infiniteGalleryScroll 36s linear infinite;

        .image-list-group{
          position: absolute;
          width: 33.333%;
          height: 100%;
          top: 0;
          display: grid;
          grid-row-gap: 5px;
          grid-column-gap: 5px;
          padding: 5px 2.5px 5px;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

          .img-item{
            background-color: rgba(black, 0.4);
            background-size: cover;
            background-position: center center;
            cursor: pointer;
          }

          &.group-1 , &.group-3{
            left: 0;

            .img-item {
              &:first-child {
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;
              }

              &:nth-child(2){
                grid-column: 1;
                grid-row: 3 / span 3;
              }

              &:nth-child(3){
                grid-column: 3;
                grid-row: 1 / span 3
              }

              &:nth-child(4){
                grid-column: 3 / span 2;
                grid-row: 4 / span 2;
              }

              &:nth-child(5){
                grid-column: 2;
                grid-row: 3 / span 2;
              }

              &:nth-child(6){
                grid-column: 2;
                grid-row: 5;
              }

              &:nth-child(7){
                grid-column: 5 / span 2;
                grid-row: 4 / span 2;
              }

              &:nth-child(8){
                grid-column: 6;
                grid-row: 1 / span 3;
              }

              &:nth-child(9){
                grid-column: 4 / span 2;
                grid-row: 1 / span 3;
              }
            }
          }

          &.group-2{
            left: 33.3333%;

            .img-item {
              &:first-child {
                grid-column: 1;
                grid-row: 1 / span 2;
              }

              &:nth-child(2){
                grid-column: 1;
                grid-row: 3 / span 3;
              }

              &:nth-child(3){
                grid-column: 2 / span 2;
                grid-row: 1 / span 3;
              }

              &:nth-child(4){
                grid-column: 2;
                grid-row: 4 / span 2;
              }

              &:nth-child(5){
                grid-column: 3 / span 2;
                grid-row: 4 / span 2;
              }

              &:nth-child(6){
                grid-column: 4;
                grid-row: 1 / span 3;
              }

              &:nth-child(7){
                grid-column: 5;
                grid-row: 1 / span 3;
              }

              &:nth-child(8){
                grid-column: 6;
                grid-row: 1 / span 2;
              }

              &:nth-child(9){
                grid-column: 5 / span 2;
                grid-row: 4 / span 2;
              }

              &:nth-child(10){
                grid-column: 6;
                grid-row: 3;
              }
            }
          }

          &.group-3{
            left: 66.6666%
          }
        }
      }
    }

    /* === RESPONSIVE === */
    @media #{$information-tablet}{
      .image-slider-viewport{
        width: 200vw;
        height: 80vw;
      }
    }

    @media #{$information-phone}{
      .image-slider-viewport{
        width: 260vw;
        height: 110vw;
      }
    }
  }
}

@keyframes infiniteGalleryScroll{
  100%{
    transform: translateX(-66.6666%);
  }
}