#yadea-e3-page {
  .section-news-slider{
    background-color: #F8F2F2;
    padding-bottom: 40px;

    .news-layout-holder{
      .news-list{
        position: relative;

        .news-item{
          padding: 0 10px;
          cursor: pointer;

          .content-holder{
            background-color: #fbf7f7;
            border-radius: 30px;
            padding: 18px;

            .thumbnail-holder{
              border-radius: 25px;
              overflow: hidden;
              width: 100%;
              height: 190px;
              background-color: #AAA;
              background-size: cover;
              background-position: center center;
              margin-bottom: 1.35em;
            }

            .context{
              height: 160px;
              overflow: hidden;

              .title{
                font-size: 1em;
                margin-bottom: 0.5em;
                font-weight: 700;
                letter-spacing: 0;
              }

              .desc{
                font-size: 0.95em;
              }
            }
          }
        }

        // Slide Control Button
        .news-slide-control{
          width: 30px;
          height: 30px;
          position: absolute;
          top: calc(50% - 15px);
          border: 5px solid #070d15;
          border-radius: 4px;
          transform: rotate(-45deg);
          z-index: 3;
          cursor: pointer;

          &.slide-next{
            border-top: none;
            border-left: none;
            right: -20px;
          }

          &.slide-prev{
            border-right: none;
            border-bottom: none;
            left: -20px;
          }
        }
      }
    }
  }

  /* === RESPONSIVE === */
  @media #{$information-tablet}{
    .section-news-slider{
      background-color: #F8F2F2;
      padding: 0 30px 30px;

      .news-layout-holder{
        .news-list{
          .news-item{
            padding: 0 15px;

            .content-holder{
              border-radius: 30px;
              padding: 15px;

              .thumbnail-holder{
                border-radius: 20px;
                overflow: hidden;
                width: 100%;
                height: 190px;
                margin-bottom: 1.35em;
              }

              .context{
                height: 160px;

                .title{
                  font-size: 1.15em;
                  margin-bottom: 0.5em;
                  letter-spacing: 0;
                }

                .desc{
                  font-size: 1.1em;
                }
              }
            }
          }

          // Slide Control Button
          .news-slide-control{
            width: 30px;
            height: 30px;
            top: calc(50% - 15px);
            border: 5px solid #070d15;
            border-radius: 4px;

            &.slide-next{
              border-top: none;
              border-left: none;
              right: -20px;
            }

            &.slide-prev{
              border-right: none;
              border-bottom: none;
              left: -20px;
            }
          }
        }
      }
    }
  }

  @media #{$information-phone}{
    .section-news-slider{
      background-color: #F8F2F2;
      padding: 0 30px 30px;

      .news-layout-holder{
        .news-list{
          .news-item{
            padding: 0 15px;

            .content-holder{
              border-radius: 22px;
              padding: 12px;

              .thumbnail-holder{
                border-radius: 20px;
                width: 100%;
                height: 170px;
                margin-bottom: 1.3em;
              }

              .context{
                height: 140px;

                .title{
                  font-size: 1.15em;
                  margin-bottom: 0.5em;
                  letter-spacing: 0;
                }

                .desc{
                  font-size: 1.1em;
                }
              }
            }
          }
        }
      }
    }
  }
}