.g5-leading-section .slider-holder .leading-slider .slide-item {
  height: 55vw;
  display: none; }
  .g5-leading-section .slider-holder .leading-slider .slide-item .img-holder {
    height: 55vw; }

@media (max-width: 768px) {
  .g5-leading-section .slider-holder .leading-slider .slide-item {
    height: 190vw;
    display: none; }
    .g5-leading-section .slider-holder .leading-slider .slide-item .img-holder {
      height: 190vw;
      background-position: center bottom; } }

/* === DESKTOP === */
#yadea-g5-page {
  /* === DESKTOP - END === */
  /* === RESPONSIVE === */
  /* === RESPONSIVE - END === */ }
  #yadea-g5-page .section-news-slider {
    background-color: #ebebeb;
    padding: 75px 0 40px; }
    #yadea-g5-page .section-news-slider .news-layout-holder {
      margin: auto;
      padding: 0 30px;
      position: relative; }
      #yadea-g5-page .section-news-slider .news-layout-holder .news-list {
        list-style: none;
        padding: 0;
        margin: 0; }
      #yadea-g5-page .section-news-slider .news-layout-holder .news-item {
        padding: 20px; }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder {
          border-radius: 30px;
          padding: 20px;
          background-color: #f3f3f3; }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .thumbnail-holder {
            width: 100%;
            height: 210px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            overflow: hidden; }
            #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .thumbnail-holder img {
              min-height: 100%;
              max-height: 125%;
              object-fit: cover; }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .context {
            color: #070d15;
            font-size: 1em;
            letter-spacing: 0.04em;
            line-height: 1.65em;
            margin: 35px 0 40px;
            height: 180px;
            overflow: hidden;
            text-align: center; }
            #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .context .title {
              font-size: 1em;
              letter-spacing: 0.04em;
              line-height: 1.42em;
              margin-bottom: 5px; }
            #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .context .desc {
              font-size: 0.9em; }
      #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control {
        position: absolute;
        border: 5px solid #070d15;
        width: 40px;
        height: 40px;
        z-index: 2;
        top: calc(50% - 22px);
        -webkit-transform: translateX(0) rotate(45deg);
        transform: translateX(0) rotate(45deg);
        cursor: pointer; }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control.slide-next {
          right: -20px;
          border-bottom: none;
          border-left: none;
          animation: sliderArrow 800ms infinite linear; }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control.slide-prev {
          left: -20px;
          border-top: none;
          border-right: none;
          animation: sliderArrow 800ms 400ms infinite linear; }
  @media only screen and (max-width: 768px) {
    #yadea-g5-page .section-news-slider {
      background-color: #ebebeb;
      padding: 65px 0 40px; }
      #yadea-g5-page .section-news-slider .news-layout-holder {
        width: 100%;
        padding: 0 25px; }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-item {
          padding: 18px; }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder {
            border-radius: 26px;
            padding: 18px;
            background-color: #f3f3f3; }
            #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .thumbnail-holder {
              width: 100%;
              height: 180px;
              border-radius: 26px; }
              #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .thumbnail-holder img {
                min-height: 100%;
                max-height: 120%; }
            #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .context {
              font-size: 1.1em;
              letter-spacing: 0.04em;
              line-height: 1.8em;
              margin: 35px 0 40px;
              max-height: 170px; }
              #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .context .title {
                font-size: 1em;
                letter-spacing: 0.04em;
                line-height: 2em; }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control {
          border: 5px solid #070d15;
          border-radius: 4px;
          width: 32px;
          height: 32px;
          z-index: 2;
          top: calc(50% - 16px); }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control.slide-next {
            right: -16px; }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control.slide-prev {
            left: -16px; } }
  @media only screen and (max-width: 480px) {
    #yadea-g5-page .section-news-slider {
      padding: 30px 0 20px; }
      #yadea-g5-page .section-news-slider .news-layout-holder {
        width: 100%;
        padding: 0 10px; }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-item {
          padding: 15px; }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder {
            border-radius: 22px;
            padding: 15px;
            background-color: #f3f3f3; }
            #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .thumbnail-holder {
              width: 100%;
              height: 180px;
              border-radius: 22px; }
              #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .thumbnail-holder img {
                min-height: 100%;
                max-height: 120%; }
            #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .context {
              font-size: 1.1em;
              letter-spacing: 0.04em;
              line-height: 1.8em;
              margin: 30px 0 30px;
              max-height: 170px; }
              #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .context .title {
                font-size: 1em;
                letter-spacing: 0.04em;
                line-height: 2em; }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control {
          width: 28px;
          height: 28px;
          z-index: 2;
          top: calc(50% - 14px); }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control.slide-next {
            right: -12px; }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control.slide-prev {
            left: -12px; } }
  @media only screen and (max-width: 360px) {
    #yadea-g5-page .section-news-slider {
      padding: 15px 0 15px; }
      #yadea-g5-page .section-news-slider .news-layout-holder .news-item {
        padding: 10px; }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder {
          border-radius: 18px;
          padding: 10px;
          background-color: #f3f3f3; }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .thumbnail-holder {
            width: 100%;
            height: 180px;
            border-radius: 18px; }
            #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .thumbnail-holder img {
              min-height: 100%;
              max-height: 120%; }
          #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .context {
            font-size: 1em;
            letter-spacing: 0.04em;
            line-height: 1.8em;
            margin: 20px 0 20px;
            max-height: 140px; }
            #yadea-g5-page .section-news-slider .news-layout-holder .news-item .content-holder .context .title {
              font-size: 1em;
              letter-spacing: 0.04em;
              line-height: 2em; }
      #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control {
        width: 24px;
        height: 24px;
        z-index: 2;
        top: calc(50% - 12px); }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control.slide-next {
          right: -10px; }
        #yadea-g5-page .section-news-slider .news-layout-holder .news-slider-control.slide-prev {
          left: -10px; } }
