.fb_dialog.fb_customer_chat_bubble_animated_no_badge{
  -webkit-transform: translate(5%, 27%) scale(.85);
  transform: translate(5%, 27%) scale(.85);
}

.zalo-chat-widget{
  transform: translate(-110%, 0);
}

#loading-overlay{
  z-index: 9999999999;
}