
@include keyframes(animate-slide-01) {
  0%{
    opacity: 0;
    @include transform(translateX(100px));
  }
  100%{
    opacity: 1;
    @include transform(translateX(0px));
  }
}
@include keyframes(animate-slide-02) {
  0%{
    opacity: 0;
    @include transform(translateX(-100px));
  }
  100%{
    opacity: 1;
    @include transform(translateX(0px));
  }
}

// Animation image download app of banner
@include keyframes(animate-image-download) {
  0% {
    @include transform(translateY(-4px));
  }
  25% {
    @include transform(translateY(0px));
  }
  50% {
    @include transform(translateY(4px));
  }
  75% {
    @include transform(translateY(0px));
  }
  100% {
    @include transform(translateY(-4px));
  }
}
